.svry1 {
    display:block;
    position:relative;
    margin-left:20px;
    text-align:left; 
    left:83%;
    top:40px;
    font-size:10pt;
    font-weight:bold  
  }

.svry2 {
    @extend .svry1;
    left:57%;
    top: 12px;    
}

.svry3 {
    @extend .svry2;
    left:31%;
    top: -16px;    
}

.svry4 {
    @extend .svry2;
    left:5%;
    top: -44px;    
}

.highest {
    display:inline-block;
    position:relative;
    top:43px;
    left:10px;
    font-size:10pt;
    font-weight:bold
}