.my-primary{
    font-size: 9pt;
    height:30px;
    width: 70px;
    padding: 5px;
    // vertical-align: middle;
}

.view-container{
    padding:30px;
    overflow:auto;
    height:1600px;
}

.my-table{  
    font-size: 11pt;
    position: relative;
    // top: 50px;
    overflow:auto;
    // height: 500px;
}

.btn-search{
    font-size:9pt;
    position:relative;
    top: 10px;
    height: 30px;
    width:90px;
    box-shadow: 1px 1px 20px 1px grey;
}

.table-editable{
    background-color: #17a2b847
}